* {
  background-color: #352f44;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #b9b4c7;
}

div.recipes {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
}

.recipes li {
  margin: 20px auto;
  text-align: center;
  width: 100px;
  height: auto;
  background-color: #5c5470;
  border-radius: 5px;
  padding: 6px 20px;
}

.recipes li a {
  background-color: #5c5470;
  text-decoration: none;
  color: #faf0e6;
}
